@import "variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-line-height: 1.4;
  --font-primary-capital-letter: 0.75;
}

/* width */
::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-600 rounded-[5px];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

.react-pdf__Page__canvas {
  width: 240px !important;
  height: 370px !important;
}

// Other imports and styles
.common-button {
  @apply text-sm bg-primary border border-primary text-white p-4 rounded-lg w-full flex justify-center font-medium;
}
.common-button:hover {
  @apply bg-transparent border-primary text-primary;
}

.common-button svg {
  @apply mr-3;
}

.white-outline-button.common-button {
  @apply bg-transparent border-white text-white;
}

.outline-button.common-button {
  @apply text-lg font-bold text-gray-900;
}

@layer components {
  // buttons
  .app-button {
    @apply relative outline-none flex items-center justify-center gap-4 rounded-[8px] transition-all;

    // Main Button Syles
    &.main {
      &.primary {
        @apply bg-primary text-white  border-transparent hover:bg-primary-600;
      }

      &.secondary {
        @apply bg-white text-gray-800 border-gray-400  hover:bg-gray-100;

        &:focus {
          @apply outline-2 outline-slate-500;
        }
      }
    }

    // Outline Button Styles
    &.outline {
      @apply border;

      &.primary {
        @apply border-primary  text-primary hover:border-primary-400;
      }

      &.secondary {
        @apply border-white text-white hover:border-inherit;

        &:focus {
          @apply outline-2 outline-slate-500;
        }
      }
    }

    // Text Button Styles
    &.text {
      &.primary {
        @apply text-black;
      }

      &.secondary {
        @apply text-black p-0 px-0 py-0 border-red-300;
      }
    }

    &.small {
      @apply text-sm py-2 px-2;
    }

    &.medium {
      @apply text-base py-3 px-4;
    }

    // states
    &:focus {
      @apply outline-2 outline-primary-400;
    }

    &:disabled {
      @apply cursor-no-drop;

      &.main {
        @apply bg-primary-600;
      }
    }

    &.loading {
      @apply cursor-wait;
    }
  }
}
// Input box styles

@layer components {
  .alert {
    // @apply flex items-start justify-between px-4 py-4 rounded-[8px] mb-4;

    // for informational alert
    &.info {
      @apply flex items-start justify-between bg-primary-200 px-4 py-4 rounded-[8px] mb-4;

      p {
        @apply text-primary-600 text-sm pt-1 pb-1;
      }

      button {
        @apply p-1 focus:ring-1 focus:ring-primary-700 focus:outline-1 focus:outline-primary-700 rounded-sm;

        svg {
          @apply stroke-primary-900 text-primary-900;
        }
      }
    }

    // for success alert
    &.success {
      @apply flex items-start justify-between bg-green-200 px-4 py-4 rounded-[8px] mb-4;

      p {
        @apply text-green-600 text-sm pt-1 pb-1;
      }

      button {
        @apply p-1 focus:ring-1 focus:ring-green-700 focus:outline-1 focus:outline-green-700 rounded-sm;

        svg {
          @apply stroke-green-900 text-green-900;
        }
      }
    }

    // for error alert
    &.error {
      @apply flex items-start justify-between bg-red-200 px-4 py-4 rounded-[8px] mb-4;

      p {
        @apply text-red-600 text-sm pt-1 pb-1;
      }

      button {
        @apply p-1 focus:ring-1 focus:ring-red-700 focus:outline-1 focus:outline-red-700 rounded-sm;

        svg {
          @apply stroke-red-900 text-red-900;
        }
      }
    }
  }
}

// jump animation
.animate-jump {
  div {
    &:nth-child(1) {
      animation: jump 700ms ease-in-out forwards infinite;
    }
    &:nth-child(2) {
      animation: jump 700ms ease-in-out forwards infinite;
      animation-delay: 300ms;
    }
    &:nth-child(3) {
      animation: jump 700ms ease-in-out forwards infinite;
      animation-delay: 600ms;
    }
  }
}

// keyframe
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-loading {
  animation: loading 700ms ease-in-out forwards infinite;
  transform-origin: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-open="anim-opacity"] {
  transition: opacity 200ms ease;
  animation: anim-show 200ms ease forwards;
}

@keyframes anim-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin lhCrop($line-height, $capital-letter: 1) {
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((#{$capital-letter} - #{$line-height}) * 0.2em);
  }
}

.text-to-crop {
  @include lhCrop(1.75, 1.25);
}
